<template>
  <component :is="dice ? 'a' : 'span'" @click="reroll">{{
    dice ? segment.result : segment.type
  }}</component>
</template>

<script lang="ts">
import Vue from 'vue'
import { Roll } from '~/assets/randomizer'
import Component from 'vue-class-component'
import { mapState } from 'vuex'

const SegmentRollProps = Vue.extend({
  props: {
    segment: Roll,
  },
  components: {},
})

@Component({
  computed: mapState(['dice']),
})
export default class SegmentRoll extends SegmentRollProps {
  dice!: number

  reroll() {
    if (this.dice) {
      this.segment.roll()
    }
  }
}
</script>