<template>
    <span>{{segment}}</span>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

const SegmentStringProps = Vue.extend({
    props: {
        segment: String
    }
})

@Component
export default class SegmentString extends SegmentStringProps {
    
}
</script>