<template>
  <a @click.stop="reroll">
    <component
      v-for="(segment, index) in segment.result"
      :is="getSegmentType(segment)"
      :segment="segment"
      :key="index"
      :item="segment"
    >
    </component>
  </a>
</template>

<script lang="ts">
import Vue from 'vue'
import { Prompt } from '~/assets/randomizer'
import SegmentRoll from '~/components/SegmentRoll.vue'
import SegmentString from '~/components/SegmentString.vue'
import Component, { mixins } from 'vue-class-component'
import { MixinPrompt } from './mixins'

const SegmentPromptProps = Vue.extend({})

export default Vue.extend({
  name: 'SegmentPrompt',
  mixins: [MixinPrompt],
  components: { SegmentRoll, SegmentString },
  props: {
    segment: Prompt,
  },
  methods: {
    reroll() {
      this.segment.roll()
    },
  },
})

// @Component
// export default class SegmentPrompt extends mixins(
//   MixinPrompt,
//   SegmentPromptProps
// ) {
//   reroll() {
//     this.segment.roll()
//   }
// }
</script>