<template>
  <p class="prompt is-size-5 has-text-weight-bold">
    <component
      v-for="(segment, index) in prompt.result"
      :is="getSegmentType(segment)"
      :segment="segment"
      :key="index"
      :item="segment"
    >
    </component>
  </p>
</template>

<script lang="ts">
import Vue from 'vue'
import { Prompt } from '~/assets/randomizer'
import SegmentPrompt from '~/components/SegmentPrompt.vue'
import SegmentRoll from '~/components/SegmentRoll.vue'
import SegmentString from '~/components/SegmentString.vue'
import Component, { mixins } from 'vue-class-component'
import { MixinPrompt } from './mixins'

const PromptProps = Vue.extend({
  props: {
    prompt: Prompt,
  },
  components: { SegmentPrompt, SegmentRoll, SegmentString },
})

@Component
export default class ThePrompt extends mixins(PromptProps, MixinPrompt) {}
</script>

<style scoped lang="css">
.prompt {
  user-select: none;
}
</style>