<template>
  <section class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title">Prima's Magical Book of Randomness</h1>
        <h2 class="subtitle">
          A simple-ish scripting language for random effects
        </h2>

        <div class="box is-clearfix">
          <div class="media roll-box">
            <div class="media-left">
              <b-button :loading="rolling" type="is-primary" @click.stop="reroll" icon-right="dice-multiple"></b-button> 
            </div>
            <div class="media-content has-text-centered">
              <!-- <b-icon icon="dice-multiple" type="is-light" size="is-large"></b-icon> -->
              <div>
                <ThePrompt v-if="prompt" :prompt="prompt"/> 
                <span v-else class="is-italic">Press roll to generate a prompt!</span>
              </div>
            </div>
          </div>
        </div> 

        <b-field>
          <b-switch v-model="dice" type="is-primary">
            Roll dice expressions (between curly braces)
          </b-switch>
        </b-field>

        <div class="box">
          <div class="content">
            <ul>
              <li v-for="(item, index) in past" :key="index" v-text="item.toString(dice)"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column">
        <b-field label="Code" class="code">
          <b-input lazy v-model="code" type="textarea"></b-input>
        </b-field>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import {processCode, getPrompt, Prompt} from '~/assets/randomizer'
import ThePrompt from '~/components/ThePrompt.vue'
import Component from 'vue-class-component'
import { mapMutations } from 'vuex'

@Component({
  components: {
    ThePrompt
  },
})
export default class HomePage extends Vue {
  dirty = true
  rolling = false
  get code() {
    return this.$store.state.code
  }
  set code(value) {
    this.$store.commit('updateCode', value)
    this.dirty = true
  }
  get dice() {
    return this.$store.state.dice
  }
  set dice(value) {
    this.$store.commit('updateDice', value)
  }

  prompt: null | Prompt = null
  past: Prompt[] = []

  //  event.stopPropagation() // @click.stop

  reroll() {
    this.rolling = true
    if(this.dirty) {
      processCode(this.code)
      this.dirty = false
    }
    this.prompt = getPrompt()
    this.prompt.capitalizeStart()
    this.past.unshift(this.prompt)
    if(this.past.length > 8) {this.past.pop()}
    this.rolling = false
  }
}
</script>

<style lang="css">
  .code .textarea {
    min-height: 20em;
    max-height: 50em;
  }

  .roll-box {
    align-items: center;
  }

  .roll-box .media-left {
    align-self: flex-start;
  }
</style>